httpconnector/src/main/mule/global.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2b0a816a-4335-4a95-98e2-3ef46ef6ae59" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="globalFlow" doc:id="ab3d6a6f-1dfa-450a-a722-f97483e6c3f9" >
		<http:listener doc:name="Listener" doc:id="ff6736a7-21e2-4c75-88ca-af2044117cac" config-ref="HTTP_Listener_config" path="/basic/*" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="d2f207ea-e647-4e27-a760-3f37d72d5cf1" message='#["LOG START " ++ flow.name]'/>
		<set-payload value='"This is basic flow payload"' doc:name="Set Payload" doc:id="429e3535-c85c-423d-9d9f-0a4d2dfbc6a2" />
	</flow>
</mule>
